<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">

	<nav class="navbar navbar-default">
  		<div class="container-fluid">
    	<div class="navbar-header">
      		<a class="navbar-brand" href="#">
        		<label class="wj-label">Sorveteria Zé de William</label>
        	</a>
        	
    	</div>
    		<a href="/picole/novo" class="navbar-link navbar-right wj-nav-link" style="color:#fff;">Cadastrar Picolés</a>
    		<a href="/picole" class="navbar-link navbar-right wj-nav-link" style="color:#fff;" >Pesquisar Picolés</a>
  		</div>
	</nav>

	
</html>