<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="utf-8"></meta>
	<title>Sorveteria Zé de William</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"></link>
	<link rel="stylesheet" type="text/css" href="/css/sistema.css"></link>
</head>
<body>
	<header layout:include="Cabecalho"></header>
	
	<section layout:fragment="conteudo">
	
	</section>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>
</html>